@page
@{
    Layout = "_Layout";
}

<h2>Couldn't find this Restaurant!</h2>

<div>
    Oops...!
    We couldn't find the restaurant you were looking for. Please try to search it from the full list of available restaurants.
</div>

<div>
    Back to <a asp-page="/Restaurants/List">All Restaurants</a>
</div>